.body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tablero{
    background-color:red;
    display: flex;
    height: 50em;
    width: 50em;
}

.fila{

display: flex;
align-items: flex-end;

}

.b{
    background-color: ghostwhite;
    height: 4em;
    width: 4em;
}

.n{
    background-color: black;
    height: 4em;
    width: 4em;
}